﻿.titles{
    text-align: center;
    font-weight: 900;
    font-size: 18px;
}

.logo-marca img{
    width: 80%;
}

.portada img, .thumb{
    margin: 5%;
    width: 40%;
    cursor: pointer;
}

.catalogos{
    display: none;
}

.container.margin-5{
    margin-top:8px;
    margin-bottom:8px;
}

