﻿
@font-face {
    font-family: 'jenna_sueregular';
    src: url('../fonts/jennasue-webfont.eot');
    src: url('../fonts/jennasue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jennasue-webfont.woff2') format('woff2'),
         url('../fonts/jennasue-webfont.woff') format('woff'),
         url('../fonts/jennasue-webfont.ttf') format('truetype'),
         url('../fonts/jennasue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
    width: 100%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    color: #262626;
}

.zero-padding{
    padding-left:0;
    padding-right:0;
}

.banner-container{
    margin-right:20px;
    margin-left:20px;
}

a{
    color: #262626;
}

a:link{
    
    text-decoration: none;
}

.rs-arrows{
    width:104.25%;
    height:125px;
    position:absolute;
    top:50%;
    margin-top:-62px;
    font-size:80pt;
    font-weight:300;
    color:white;
}

.rs-arrows .left{
    margin-left:-25px;
    width:50px;
    height:125px;
    background:url('../Images/Flechas/flecha_izq_oscura.jpg') no-repeat;
    display:inline-block;
    cursor:pointer;
}

.rs-arrows .right{
    width:100px;
    height:125px;
    float:right;
    background:url('../Images/Flechas/flecha_dcha_oscura.jpg') no-repeat;
    display:inline-block;
    cursor:pointer;
}


.rs-arrows-clear{
    width:104.25%;
    height:125px;
    position:absolute;
    top:50%;
    margin-top:-62px;
    font-size:80pt;
    font-weight:300;
    color:white;
    
}

.rs-arrows-clear .left{
    margin-left:0;
    width:50px;
    height:125px;
    background:url('../Images/Flechas/flecha_izq_clara.jpg') no-repeat;
    cursor:pointer;
    display:inline-block;
}

.rs-arrows-clear .right{
    width:100px;
    height:125px;
    float:right;
    background:url('../Images/Flechas/flecha_dcha_clara.jpg') no-repeat;
    display:inline-block;
    cursor:pointer;
}

hr{
    border-width: 1.5px;
    border-color: black;
}

header{
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 10px;
}

.container{
    margin-top: 25px;
    margin-bottom: 25px;
}

header.container{
    margin-bottom: 10px;
}


header #menu1{
    text-align:right;
    list-style: none;
    font-family: 'jenna_sueregular';
    font-size: 28pt;
    font-weight:600;
}

header #menu2{
    margin: 20px 0 0 0;
    text-align:center;
    list-style: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400; 
    font-style: italic;
    font-size:15pt;
    padding:0;
    text-transform:uppercase;

}

header #menu2 #companyinfo{
    font-weight: 900; 
    font-size: 14pt;
}

header #menu1 li{
    display: inline-block;
}

header #menu1 li.last {
    margin-right:12px;
}

header #menu2 li{
    padding: 0 12px;
    display: inline-block;
}


#banner{
    margin: 0 auto;
    width: auto;
}

.horizontal-division{
    height:1px;
    width:100%;
    background: #333;
}



.container.margin-5{
    margin-top:8px;
    margin-bottom:8px;
}

.bg-gray{
    background:#333;
    width: 100% !important;
}

.bg-graylight{
    background:#bbb;
    width: 100% !important;
}

footer{
    margin: 0 auto;
    max-width: 100%;
    padding-top: 10px;
    font-size: 11pt;
}

footer ul{
    list-style: none;
    margin: 20px 0 0 0;
    padding:0;
    color: darkslategrey;
}


footer ul li,  footer ul li a, footer span{
    font-family: 'Raleway', sans-serif;
    font-weight: 300; 
    font-size:11pt;
}

footer .footer-titles{
    font-family: 'Raleway', sans-serif;
    font-weight: 400; 
    font-size: 12pt;
}

.last-footer .row{
    margin-bottom: 20px;
}

#fb{
    padding: 10px;
}

#fb img{
    width: 40px;
}

#footerbottom{
    font-size: 0.9em;
}

#empresa{
    text-align: right;
}

.linked{
    cursor:pointer;
}

.division-middle{
    height:30px;
}

.no-margin{
    margin-left:0;
    margin-right:0;
}