﻿.descr-marca p{
    font-size: 16pt;
    font-family:'Raleway', sans-serif;
    font-weight: 300;
    text-align: justify;
}

.logomarca{
    margin-bottom: 20px;
    margin-top: 20px;
}

.col-lg-12 p{
    font-size:13pt;
    font-family:'Raleway', sans-serif;
}

.titulos-thumbs p{
    font-weight: 700;
    font-family: 'Alegreya Sans', sans-serif;
    font-size:18pt;
}

.titles{
    margin-bottom: 40px;
    font-weight: 900;
    font-style: italic;
    font-size: 16px;
}

.singlethumb img{
    width: 150px;
    margin-bottom: 40px;
}

.thumbs ul{
    list-style-type: none;
}
.thumbs ul li{
    display: inline-block;
    padding: 15px;
}

.thumbs ul li img{
    width: 150px;
}

.ver-mas{
    text-align: right;
    font-size:13pt;
    font-family:'Raleway', sans-serif;
    text-transform:capitalize;
}

.container.margin-5{
    margin-top:8px;
    margin-bottom:8px;
}

